# Soulm8 Klipper configuration file
# Soulm8 requires Klipper LED effect add-on by Julian Schill.
# Because we don't want to fuss with delay_gcode.
# Please refer to https://www.klipper3d.org/Config_Reference.html#neopixel
# for sections of Neopixel configuration.

#######################################
# MARK: Instructions
#######################################
# 0. Build a Soulm8 hardware and install it to your printer.
# 1. Copy / clone this configuration file to your printer configuration
# folder.
# 2. Change the pin of [neopixel soulm8] to your connection, if different
# from the supplied. The default being non-motion-mcu:gpio13, but it
# will be obviously different if you did not use Non-motion MCU.
# 3. Save this file, and then include this file by adding
# [include soulm8.cfg] in printer.cfg.
# 4. Save the file and restart your printer.
# 5. Observe the LED, if the color is magenta, then the no further changes
# required. If the color is cyan, then a change of color order is
# required, un-comment color_order below [neopixel soulm8] and add RGB .
# 6. Once LED observation is done, you have to override print start macros
# and print end macros. The common case is provided below.
# For print start macro, add SET_LED_EFFECT EFFECT="_busy_printing" above
# [gcode_macro PRINT_START], and add SET_LED_EFFECT EFFECT="_busy_printing" STOP=1
# below the remaining instructions in [gcode_macro PRINT_END].
# 7. For _soulm8_attention, we are not tampering the pause and resume
# commands, because of these, you can scroll below the led_effect
# sections and see the Gcode macros where you can un-comment just to
# activate these.

[neopixel soulm8] # Soulm8 LED
pin: non-motion-mcu:gpio13 # Assigned pin, using GPIO 13 in Pi Pico / Pico 2 with Non-motion MCU as an example. It can be main MCU.
chain_count: 2 # Chain count, it should be 2 as Soulm8 uses two LEDs.
# color_order:
initial_RED: 1.0 # Can be set to 0 after commissioning.
initial_BLUE: 1.0 # Can be set to 0 after commissioning.
# Why is there no initial_GREEN? Well because we are rebels,
# actually green part of it is unnecessary during inspection.

[led_effect _busy_printing] # Busy (printing)
autostart: false
recalculate: false
leds:
    neopixel:soulm8
layers:
    blink {params.DURATION|default(2)|float} {params.CYCLE|default(0.03)|float} top (1.0, 0.7, 0.0)

 [led_effect _soulm8_attention] # Attention needed
 autostart: false
 recalculate: false
 leds:
     neopixel:soulm8
 layers:
     blink {params.DURATION|default(2)|float} {params.CYCLE|default(0.5)|float} top (1.0, 0.5, 0.0)

#######################################
# MARK: Gcode macros
#######################################
# Un-comment to engage, if PAUSE and RESUME Gcode macros already existing.

# [gcode_macro PAUSE]
# rename_existing: PAUSE_SQUARE
# gcode:
#     SET_LED_EFFECT EFFECT="_busy_printing" STOP=1
#     SET_LED_EFFECT EFFECT="_soulm8_attention"
#     PAUSE_SQUARE

# [gcode_macro RESUME]
# rename_existing: RESUME_SQUARE
# gcode:
#     SET_LED_EFFECT EFFECT="_soulm8_attention" STOP=1
#     SET_LED_EFFECT EFFECT="_busy_printing"
#     RESUME_SQUARE
